@import '../../root.css';

.section-modal-musico{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    align-items: flex-start;
    z-index: 1000;
}
.box-modal-musico{
    width: 60vw;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}
.nome-modal-musico{
    width: 100%;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
}
.descricao-modal-musico{
    width: 100%;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
}
.titulo-habilidades-modal-musico{
    width: 100%;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    color: gray;
    font-size: 1rem;
    margin-top: 2vh;
}
.box-habilidades-modal-musico{
    width: 100%;
    background-color: #B5B0EC;
    border-radius: 5px;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.genero-modal-musico{
    width: fit-content;
    padding: 1vh;
    background-color: white;
    border-radius: 5px;
    margin: 1vh;
}
.box-botoes-modal-musico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 3vh;
}
.button-fechar-modal-musico{
    padding: 1vh 2vw 1vh;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    background-color: gray;
    color: white;
    cursor: pointer;
}
.button-chat-modal-musico{
    padding: 1vh 2vw 1vh;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    background-color: #804DEC;
    color: white;
    cursor: pointer;
}
.button-contratar-modal-musico{
    padding: 1vh 2vw 1vh;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    background-color: #1AFF4C;
    color: white;
    cursor: pointer;
}