@import '../../root.css';

.page-configuracoes{
    margin-left: 20vw;
    width: 80vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #222222;
    overflow-x: hidden;
}
.titulo-section-configuracoes{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.box-menu-configuracoes{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0vh 5vh 0vh 2vw;
    gap: 2vh;
    justify-content: flex-start;
    padding-top: 10vh;
    background-color: #222222;
}
.button-menu-configuracoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background-color: transparent;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: '100';
    color: white;
    cursor: pointer;
}