@import '../../root.css';

.page-chat{
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    background-color: #222222;
}
.titulo-page-chat{
    width: 100%;
    padding-left: 10vw;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: start;
}