@media screen and (min-width:900px) {
    .information-card {
        background-color: #fff;
        border-radius: 10px;
        width: 20vw;
        padding: 1vw;
    }
    
    .information-title {
        font-size: 1.3rem;
        font-weight: 400;
    }
    
    .information-description {
        font-size: 0.9rem;
        color: #848484;
    
        overflow: hidden;
        text-overflow: ellipsis; 
        display: -webkit-box;
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
    
        margin-bottom: 1rem;
    }
    
    .musical-genre {
        padding: 1vh;
        background-color: #B5B0EC;
        border-radius: 10px;
    
        color: #fff;
        font-size: 0.7rem
    }
    
    .musical-genres-container {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
    
    .rating-score {
        font-size: 0.8rem;
    }
    
    .rating-and-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .rating-and-button-container button {
        cursor: pointer;
        background: #804DEC;
    
        font-size: 0.8rem;
        color: #fff;
    
        padding: 1vh 1vw;
        border-radius: 10px;
    }
}

@media screen and (max-width:600px) {
    .information-card {
        background-color: #fff;
        border-radius: 10px;
        width: 70vw;
        padding: 2vh;
    }
    
    .information-title {
        font-size: 1.1rem;
        font-weight: 400;
    }
    
    .information-description {
        font-size: 0.8rem;
        color: #848484;
        overflow: hidden;
        text-overflow: ellipsis; 
        display: -webkit-box;
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
    
        margin-bottom: 1rem;
    }
    
    .musical-genre {
        padding: .7vh;
        background-color: #B5B0EC;
        border-radius: 10px;
    
        color: #fff;
        font-size: 0.9rem
    }
    
    .musical-genres-container {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
    
    .rating-score {
        font-size: 0.8rem;
    }
    
    .rating-and-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .rating-and-button-container button {
        cursor: pointer;
        background: #804DEC;
    
        font-size: 0.8rem;
        color: #fff;
    
        padding: 1vh;
        border-radius: 10px;
    }
}