@import '../../root.css';

.page-redefinir-senha{
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box-forms-redefinir{
    width: 30%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
    border-radius: 10px ;
    padding: 5vh;
}
.input-redefinir{
    outline: none;
    border-bottom-style: solid;
    border-color: #804DEC;
    border-bottom-width: 1px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    padding: 2px;
    width: 80%;
    margin: 10px;
}
.botao-forms-redefinir{
    padding: 5px;
    width: 30%;
    background-color: #804DEC;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    margin: 2vh;
    cursor: pointer;
}
.alerta-redefinir{
    color: red;
}